
{% extends 'base.html.twig' %}

{% block body %}
<div>
    {% if messages|length > 0 %}
        {% for message in messages|slice(0, limit) %}
            {{ include('hello/_message.html.twig') }}
        {% endfor %}
    {% else %}
        There is nothing here jet
    {% endif %}
</div>
{% endblock %}